{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  </head>

  <body>
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>
    <form action="{% url 'update' task.id%}" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="child">
          <label for="titleInput">Title</label><br>
          <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
        </div>
        <div class="child">
          <label for="dueInput">Due at:</label><br>
          <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
        </div>
        <div class="child">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
    <br>
  </body>

</html>